.fc-col-header-cell-cushion {
  text-decoration: none !important;
}
.fc-day a {
  text-decoration: none !important;
}
.fc-scrollgrid-sync-inner a {
  color: black;
}

.fc-day-sun .fc-scrollgrid-sync-inner a {
  color: #f05152 !important;
}
.fc-day-sat .fc-scrollgrid-sync-inner a {
  color: #4169E1;
}

.fc-event-title-container {
  background-color: none !important;
}

.fc-event {
  background-color: transparent;
  color: black;
  border: none;
}
.fc-event .fc-event-title {
  color: initial;
}
.fc-event.reserved-room {
  background-color: #8e4a10;
}
.fc-event.reserved-room .fc-event-title {
  color: #fff;
}

.fc-daygrid-day-number {
  width: 100%;
}


.public-holiday-bg .fc-daygrid-day-top {
  background-color: #ffcccb !important; /* 붉은 색 */
}

/* 성수기 배경 색 (코랄 색) */
.peak-season-bg .fc-daygrid-day-top {
  background-color: #ffb6c1 !important; /* 코랄 색 */
}

/* 준성수기 배경 색 (금색) */
.semi-peak-bg .fc-daygrid-day-top {
  background-color: #fffacd !important; /* 금색 */
}

/* 비수기 배경 색 (파스텔 블루) */
.off-season-bg .fc-daygrid-day-top {
  background-color: #b0e0e6 !important; /* 하늘색 */
}

.hidden-date.fc-daygrid-day.fc-day-past:not(.fc-day-today) .fc-daygrid-day-events {
  /* display: none; */
} 
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  min-height: 125px;
}

.next-month .fc-daygrid-day-events{
display: none;
}